.sidebar {
  padding: 0 1em;
  flex: 1 2 fit-content;
  border-right: 1px solid #CBCBCB;
}
.sidebar p, .sidebar h1 {
  display: block;
  cursor: pointer;
  transition: .1s all;
}
.sidebar p:hover, .sidebar h1:hover {
  color: #1A86F8;
}

@media only screen and (max-width : 320px) {
  .sidebar {
    flex: 1 2;
  }
}
